<div class="chat-container">
  <div class="o-left-container">
    <div *ngIf="chatList" class="o-users-container">
      <h6 *ngIf="unreaded"> {{unreaded}} </h6>
      <div *ngFor="let chat of chatList">
        <button (click)="getConversation(chat.conversationID)">{{chat.participants[0].username}}</button>
        <small *ngIf="chat.message">{{chat.message.body}}</small>
      </div>
    </div>
  </div>
  <div class="o-messages-container">
    <div class="o-messages" #list *ngIf="currentChat">
      <ng-container *ngFor="let message of currentChat.messages.reverse() let i = index">
        <div class="c-message"
          [class.myself]="message.author.username === user.username"
          [class.other]="!(message.author.username === user.username)"
        >
          <p class="c-message-body">{{message.body}}</p>
          <small class="c-message-author">{{message.author.username}}</small>
          <small class="c-message-forview" *ngIf="!message.toOpen && i === 0">viewed</small>
        </div>
      </ng-container>
    </div>
    <form class="o-input-container" (submit)="sendMessage()" #sendForm="ngForm">
      <div class="form-group">
        <input autocomplete="off" type="text" [(ngModel)]="currentMessage.body" name='body' required/>
        <span class="suffix" (click)="sendMessage()">
          <i class="material-icons">send</i>
        </span>
      </div>
    </form>
  </div>
</div>
