/* this file will be extracted to main dist folder and is imported in index.html */


/* This file is for setting global styles  */

@import 'variables';
@import 'normalize';
html,
body {
    height: 100%;
    font-family: 'Open Sans', 'Helvetica Neue', Arial;
    background: $bodyBackground;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
}

li,
ul {
    list-style: none;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
}

p {
    font-size: rem(16px);
    line-height: 1.6875;
}