<div class="o-form-grid" [@onLoad]="state">
  <div class="o-form-container">
    <form #pwdForm="ngForm" (submit)='submit($event)'>

      <div class="form-group">
        <input [type]="passwordHide ? 'password' : 'text'" [(ngModel)]="logModel.password" name="password" #password="ngModel" required="required" />
        <label class="control-label" for="input">Password</label>
        <span class="suffix" (click)="passwordHide = !passwordHide"><i class="material-icons">{{passwordHide ? 'visibility' : 'visibility_off'}}</i></span>
        <i class="bar"></i>
      </div>

      <div [@onError]="errorState" class="form-group small-group error">
        <p class="alert">
          {{ errors }}
        </p>
      </div>
      <div [@onSuccess]="successState" class="form-group small-group success">
        <p class="alert">
          Data correctly updated, start your experience.
        </p>
      </div>
      <div class="button-container">
        <button class="button" type="button" (click)="cancel($event)">
          <span>Cancel</span>
        </button>
        <button class="button" [disabled]="!pwdForm.form.valid" type="submit">
          <span>Recover</span>
        </button>
      </div>
    </form>
  </div>
</div>
